/* Таблица стилей 3 */
#init_version_demo {    
    float: left;
}
#modify_version_demo {
    margin-left: 545px;
}
.div1 {
    width: 510px;
    border: 1px solid silver;
    border-radius: 10px;
    box-shadow: 0 0 silver, 0 0 20px silver;
    padding: 10px;
}
hr {
    width: 90%;
    size: 1px;
    color: lightgrey;
}
#frame2 {
    border-width: 0;
    width: 311px;
    height: 171px;
}
#table2 {
    width: 100%;
    height: 500px;
}
#table2 tr {
    height: 50%;
}
.edit, .control {
    width: 400px;
}
.edit fieldset, .control fieldset {
    height: 100%;
    padding: 0px 10px 15px 10px;
}
legend {
    text-align: left;
    font: italic 11pt arial;
    color: darkviolet;
}
#view1 td {
    padding: 2px 10px;
}
.view fieldset {
    height: 100%;
    padding: 15px;
}
